<center><h1><b>Proyecto ETL: Pokémon</b></h3></center>

**Fuentes**:

1º https://data.world/data-society/pokemon-with-stats

 2º https://www.serebii.net/pokemon/all.shtml

 3º https://pokemondb.net/pokedex/national#gen-9

In [1]:
import pandas as pd # Importamos las librerías que vamos a necesitar o podemos necesitar
pd.set_option('display.max_columns', None)  # me muestre todas las columnas
import numpy as np
import regex as re
import os
from IPython.display import Image, display
from IPython.display import HTML
import warnings
warnings.filterwarnings('ignore')   # Para quitar los warnings

import pylab as plt # para "pintar"
import seaborn as sns

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup as bs
from selenium.webdriver.common.by import By
import requests as req

# Aquí importamos lo necesario para hacer web-scrapping (bien sea a través de Beautiful Soup o Selenium)

In [209]:
from sqlalchemy import create_engine

In [3]:
poke = pd.read_csv('../data/pokes_1.csv', encoding = 'ISO-8859-1')

In [4]:
poke.info(memory_usage = 'deep') # Vamos a sustituir los Nan por "Mono", ya que son monotype.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      1072 non-null   int64
 1   name        1072 non-null   object
 2   type1       1072 non-null   object
 3   type2       574 non-null    object
 4   total       1072 non-null   int64
 5   hp          1072 non-null   int64
 6   attack      1072 non-null   int64
 7   defense     1072 non-null   int64
 8   sp_attack   1072 non-null   int64
 9   sp_defense  1072 non-null   int64
 10  speed       1072 non-null   int64
 11  generation  1072 non-null   int64
 12  legendary   1072 non-null   bool
dtypes: bool(1), int64(9), object(3)
memory usage: 261.9 KB

In [5]:
poke.columns = poke.columns.str.lower().str.strip().str.replace(" ", "_")
poke.columns # "Limpiamos" los nombres de columnas para no tener problemas.

Index(['number', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'generation', 'legendary'],
      dtype='object')

In [6]:
poke.type2 = poke.type2.fillna(value = 'Mono') # En todos los pokes que tengan un único tipo (type2 = Nan), pondremos
# "Mono" en type2 para indicar que son monotipo.

In [7]:
poke.legendary = poke.legendary.astype(str) # Convertimos la columna "legendary" al tipo de dato string, para sustituir los
# false por "notleg" (no son legendarios) y los true por "leg" (son legendarios).

In [8]:
poke.legendary = poke.legendary.replace('False', 'notleg').replace('True', 'leg')

In [9]:
substrings = ['Gigantamax', 'Alolan', 'Galarian', 'Mega '] # Eliminamos todas las formas regionales o mecánicas especiales
for i, e in enumerate(poke.name): # como la Megaevolución o Gigantamax.
    if any(sub in e for sub in substrings):
        poke = poke.drop(i)

In [10]:
# Reseteamos el index
poke = poke.reset_index(drop=True)
poke.head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,notleg
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,notleg
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,notleg
3,4,Charmander,Fire,Mono,309,39,52,43,60,50,65,1,notleg
4,5,Charmeleon,Fire,Mono,405,58,64,58,80,65,80,1,notleg

In [11]:
poke.shape

(953, 13)

In [12]:
poke.number.value_counts()[:36] # Tenemos aún 36 elementos (Pokemones) repetidos; vamos a gestionarlo para que nos queden
# registros únicos. Iremos uno a uno para hacer las modificaciones oportunas.

479    6
710    4
386    4
800    4
741    4
711    4
898    3
413    3
745    3
718    3
646    3
641    2
648    2
658    2
492    2
849    2
678    2
383    2
382    2
774    2
642    2
746    2
681    2
647    2
720    2
645    2
487    2
555    2
889    2
890    2
888    2
877    2
876    2
875    2
892    2
893    2
Name: number, dtype: int64

In [13]:
pokemove = poke[poke['number'] == 479] # Nos vamos a quedar con Rotom a secas, del 486 al 490 los eliminamos
pokemove

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
485,479,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,notleg
486,479,Heat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,notleg
487,479,Wash Rotom,Electric,Water,520,50,65,107,105,107,86,4,notleg
488,479,Frost Rotom,Electric,Ice,520,50,65,107,105,107,86,4,notleg
489,479,Fan Rotom,Electric,Flying,520,50,65,107,105,107,86,4,notleg
490,479,Mow Rotom,Electric,Grass,520,50,65,107,105,107,86,4,notleg

In [14]:
poke = poke.drop(poke.index[486:491], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(948, 13)

In [15]:
pokemove_2 = poke[poke['number'] == 710] # Nos vamos a quedar con el primer Pumpkaboo y quitaremos lo de Average Size.
pokemove_2 # Eliminamos los registros del 730 al 732.

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
729,710,Pumpkaboo Average Size,Ghost,Grass,335,49,66,70,44,55,51,6,notleg
730,710,Pumpkaboo Small Size,Ghost,Grass,335,44,66,70,44,55,56,6,notleg
731,710,Pumpkaboo Large Size,Ghost,Grass,335,54,66,70,44,55,46,6,notleg
732,710,Pumpkaboo Super Size,Ghost,Grass,335,59,66,70,44,55,41,6,notleg

In [16]:
poke = poke.drop(poke.index[730:733], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(945, 13)

In [17]:
# Limpiaremos los nombres de los pokemones cuando corresponda.
poke.at[729, "name"] = poke.at[729, "name"].replace("Pumpkaboo Average Size", "Pumpkaboo")

In [18]:
pokemove_3 = poke[poke['number'] == 386] # Lo mismo que antes con Deoxys; eliminaremos del 388 al 390.
pokemove_3

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
387,386,Deoxys Normal Forme,Psychic,Mono,600,50,150,50,150,50,150,3,leg
388,386,Deoxys Attack Forme,Psychic,Mono,600,50,180,20,180,20,150,3,leg
389,386,Deoxys Defense Forme,Psychic,Mono,600,50,70,160,70,160,90,3,leg
390,386,Deoxys Speed Forme,Psychic,Mono,600,50,95,90,95,90,180,3,leg

In [19]:
poke = poke.drop(poke.index[388:391], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(942, 13)

In [20]:
poke.at[387, "name"] = poke.at[387, "name"].replace("Deoxys Normal Forme", "Deoxys")

In [21]:
pokemove_4 = poke[poke['number'] == 800] # Eliminaremos del 830 al 832.
pokemove_4

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
829,800,Necrozma,Psychic,Mono,600,97,107,101,127,89,79,7,leg
830,800,Dusk Mane Necrozma,Psychic,Steel,680,97,157,127,113,109,77,7,leg
831,800,Dawn Wings Necrozma,Psychic,Ghost,680,97,113,109,157,127,77,7,leg
832,800,Ultra Necrozma,Psychic,Dragon,754,97,167,97,167,97,129,7,leg

In [22]:
poke = poke.drop(poke.index[830:833], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(939, 13)

In [23]:
pokemove_5 = poke[poke['number'] == 741] # Eliminaremos del 764 al 766.
pokemove_5

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
763,741,Oricorio Baile Style,Fire,Flying,476,75,70,70,98,70,93,7,notleg
764,741,Oricorio Pom-Pom Style,Electric,Flying,476,75,70,70,98,70,93,7,notleg
765,741,Oricorio P'au Style,Psychic,Flying,476,75,70,70,98,70,93,7,notleg
766,741,Oricorio Sensu Style,Ghost,Flying,476,75,70,70,98,70,93,7,notleg

In [24]:
poke = poke.drop(poke.index[764:767], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(936, 13)

In [25]:
poke.at[763, "name"] = poke.at[763, "name"].replace("Oricorio Baile Style", "Oricorio")

In [26]:
pokemove_6 = poke[poke['number'] == 711] # Eliminaremos del 728 al 730.
pokemove_6

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
727,711,Gourgeist Average Size,Ghost,Grass,494,65,90,122,58,75,84,6,notleg
728,711,Gourgeist Small Size,Ghost,Grass,494,55,85,122,58,75,99,6,notleg
729,711,Gourgeist Large Size,Ghost,Grass,494,75,95,122,58,75,69,6,notleg
730,711,Gourgeist Super Size,Ghost,Grass,494,85,100,122,58,75,54,6,notleg

In [27]:
poke = poke.drop(poke.index[728:731], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(933, 13)

In [28]:
poke.at[727, "name"] = poke.at[727, "name"].replace("Gourgeist Average Size", "Gourgeist")

In [29]:
pokemove_7 = poke[poke['number'] == 898] # Eliminaremos del 931 al 932.
pokemove_7

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
930,898,Calyrex,Psychic,Grass,500,100,80,80,80,80,80,8,leg
931,898,Ice Rider Calyrex,Psychic,Ice,680,100,165,150,85,130,50,8,leg
932,898,Shadow Rider Calyrex,Psychic,Ghost,680,100,85,80,165,100,150,8,leg

In [30]:
poke = poke.drop([931, 932], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(931, 13)

In [31]:
pokemove_8 = poke[poke['number'] == 413] # Eliminaremos del 415 al 416.
pokemove_8

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
414,413,Wormadam Plant Cloak,Bug,Grass,424,60,59,85,79,105,36,4,notleg
415,413,Wormadam Sandy Cloak,Bug,Ground,424,60,79,105,59,85,36,4,notleg
416,413,Wormadam Trash Cloak,Bug,Steel,424,60,69,95,69,95,36,4,notleg

In [32]:
poke = poke.drop([415, 416], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(929, 13)

In [33]:
poke.at[414, "name"] = poke.at[414, "name"].replace("Wormadam Plant Cloak", "Wormadam")

In [34]:
pokemove_9 = poke[poke['number'] == 745] # Eliminaremos del 763 al 764.
pokemove_9

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
762,745,Lycanroc Midday Forme,Rock,Mono,487,75,115,65,55,65,112,7,notleg
763,745,Lycanroc Midnight Forme,Rock,Mono,487,85,115,75,55,75,82,7,notleg
764,745,Lycanroc Dusk Forme,Rock,Mono,487,75,117,65,55,65,110,7,notleg

In [35]:
poke = poke.drop([763, 764], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(927, 13)

In [36]:
poke.at[762, "name"] = poke.at[762, "name"].replace("Lycanroc Midday Forme", "Lycanroc")

In [37]:
pokemove_10 = poke[poke['number'] == 718] # Eliminaremos del 732 al 733.
pokemove_10

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
732,718,Zygarde 10% Forme,Dragon,Ground,486,54,100,71,61,85,115,6,leg
733,718,Zygarde 50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,leg
734,718,Zygarde Complete Forme,Dragon,Ground,708,216,100,121,91,95,85,6,leg

In [38]:
poke = poke.drop([732, 733], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(925, 13)

In [39]:
poke.at[732, "name"] = poke.at[732, "name"].replace("Zygarde Complete Forme", "Zygarde")

In [40]:
pokemove_11 = poke[poke['number'] == 646] # Eliminaremos del 654 al 655.
pokemove_11

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
653,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,leg
654,646,Black Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,leg
655,646,White Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,leg

In [41]:
poke = poke.drop([654, 655], axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(923, 13)

In [42]:
pokemove_12 = poke[poke['number'] == 641] # Eliminaremos el 646.
pokemove_12

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
645,641,Tornadus Incarnate Forme,Flying,Mono,580,79,115,70,125,80,111,5,leg
646,641,Tornadus Therian Forme,Flying,Mono,580,79,100,80,110,90,121,5,leg

In [43]:
poke = poke.drop(646, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(922, 13)

In [44]:
poke.at[645, "name"] = poke.at[645, "name"].replace("Tornadus Incarnate Forme", "Tornadus")

In [45]:
pokemove_13 = poke[poke['number'] == 648] # Eliminaremos el 656.
pokemove_13

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
655,648,Meloetta Aria Forme,Normal,Psychic,600,100,77,77,128,128,90,5,leg
656,648,Meloetta Pirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,leg

In [46]:
poke = poke.drop(656, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(921, 13)

In [47]:
poke.at[655, "name"] = poke.at[655, "name"].replace("Meloetta Aria Forme", "Meloetta")

In [48]:
pokemove_14 = poke[poke['number'] == 658] # Eliminaremos el 666.
pokemove_14

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
665,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,notleg
666,658,Ash-Greninja,Water,Dark,640,72,145,67,153,71,132,6,notleg

In [49]:
poke = poke.drop(666, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(920, 13)

In [50]:
pokemove_15 = poke[poke['number'] == 492] # Eliminaremos el 495.
pokemove_15

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
494,492,Shaymin Land Forme,Grass,Mono,600,100,100,100,100,100,100,4,leg
495,492,Shaymin Sky Forme,Grass,Flying,600,100,103,75,120,75,127,4,leg

In [51]:
poke = poke.drop(495, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(919, 13)

In [52]:
poke.at[494, "name"] = poke.at[494, "name"].replace("Shaymin Land Forme", "Shaymin")

In [53]:
pokemove_16 = poke[poke['number'] == 849] # Eliminaremos el 861.
pokemove_16

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
860,849,Toxtricity Amped Forme,Electric,Poison,502,75,98,70,114,70,75,8,notleg
861,849,Toxitricity Low Key Forme,Electric,Poison,502,75,98,70,114,70,75,8,notleg

In [54]:
poke = poke.drop(861, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(918, 13)

In [55]:
poke.at[860, "name"] = poke.at[860, "name"].replace("Toxtricity Amped Forme", "Toxtricity")

In [56]:
pokemove_17 = poke[poke['number'] == 678] # Eliminaremos el 685.
pokemove_17

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
684,678,Meowstic Male,Psychic,Mono,466,74,48,76,83,81,104,6,notleg
685,678,Meowstic Female,Psychic,Mono,466,74,48,76,83,81,104,6,notleg

In [57]:
poke = poke.drop(685, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(917, 13)

In [58]:
poke.at[684, "name"] = poke.at[684, "name"].replace("Meowstic Male", "Meowstic")

In [59]:
pokemove_18 = poke[poke['number'] == 383] # Eliminaremos el 384.
pokemove_18

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
383,383,Groudon,Ground,Mono,670,100,150,140,100,90,90,3,leg
384,383,Primal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,leg

In [60]:
poke = poke.drop(384, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(916, 13)

In [61]:
pokemove_19 = poke[poke['number'] == 382] # Eliminaremos el 382.
pokemove_19

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
381,382,Kyogre,Water,Mono,670,100,100,90,150,140,90,3,leg
382,382,Primal Kyogre,Water,Mono,770,100,150,90,180,160,90,3,leg

In [62]:
poke = poke.drop(382, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(915, 13)

In [63]:
pokemove_20 = poke[poke['number'] == 774] # Eliminaremos el 781.
pokemove_20

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
781,774,Minior Meteor Forme,Rock,Flying,440,60,60,100,60,100,60,7,notleg
782,774,Minior Core Forme,Rock,Flying,500,60,100,60,100,60,120,7,notleg

In [64]:
poke = poke.drop(781, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(914, 13)

In [65]:
poke.at[781, "name"] = poke.at[781, "name"].replace("Minior Core Forme", "Minior")

In [66]:
pokemove_21 = poke[poke['number'] == 642] # Eliminaremos el 644.
pokemove_21

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
643,642,Thundurus Incarnate Forme,Electric,Flying,580,79,115,70,125,80,111,5,leg
644,642,Thundurus Therian Forme,Electric,Flying,580,79,105,70,145,80,101,5,leg

In [67]:
poke = poke.drop(644, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(913, 13)

In [68]:
poke.at[643, "name"] = poke.at[643, "name"].replace("Thundurus Incarnate Forme", "Thundurus")

In [69]:
pokemove_22 = poke[poke['number'] == 746] # Eliminaremos el 751.
pokemove_22

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
751,746,Wishiwashi Solo Forme,Water,Mono,175,45,20,20,25,25,40,7,notleg
752,746,Wishiwashi School Forme,Water,Mono,620,45,140,130,140,135,30,7,notleg

In [70]:
poke = poke.drop(751, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(912, 13)

In [71]:
poke.at[751, "name"] = poke.at[751, "name"].replace("Wishiwashi School Forme", "Wishiwashi")

In [72]:
pokemove_23 = poke[poke['number'] == 681] # Eliminaremos el 685.
pokemove_23

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
684,681,Aegislash Blade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,notleg
685,681,Aegislash Shield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,notleg

In [73]:
poke = poke.drop(685, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(911, 13)

In [74]:
poke.at[684, "name"] = poke.at[684, "name"].replace("Aegislash Blade Forme", "Aegislash")

In [75]:
pokemove_24 = poke[poke['number'] == 647] # Eliminaremos el 650.
pokemove_24

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
649,647,Keldeo Ordinary Forme,Water,Fighting,580,91,72,90,129,90,108,5,leg
650,647,Keldeo Resolute Forme,Water,Fighting,580,91,72,90,129,90,108,5,leg

In [76]:
poke = poke.drop(650, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(910, 13)

In [77]:
poke.at[649, "name"] = poke.at[649, "name"].replace("Keldeo Ordinary Forme", "Keldeo")

In [78]:
pokemove_25 = poke[poke['number'] == 720] # Eliminaremos el 723.
pokemove_25

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
722,720,Hoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,leg
723,720,Hoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,leg

In [79]:
poke = poke.drop(723, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(909, 13)

In [80]:
poke.at[722, "name"] = poke.at[722, "name"].replace("Hoopa Confined", "Hoopa")

In [81]:
pokemove_26 = poke[poke['number'] == 645] # Eliminaremos el 647.
pokemove_26

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
646,645,Landorus Incarnate Forme,Ground,Flying,600,89,125,90,115,80,101,5,leg
647,645,Landorus Therian Forme,Ground,Flying,600,89,145,90,105,80,91,5,leg

In [82]:
poke = poke.drop(647, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(908, 13)

In [83]:
poke.at[646, "name"] = poke.at[646, "name"].replace("Landorus Incarnate Forme", "Landorus")

In [84]:
pokemove_27 = poke[poke['number'] == 487] # Eliminaremos el 487.
pokemove_27

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
486,487,Giratina Altered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,leg
487,487,Giratina Origin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,leg

In [85]:
poke = poke.drop(487, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(907, 13)

In [86]:
poke.at[486, "name"] = poke.at[486, "name"].replace("Giratina Altered Forme", "Giratina")

In [87]:
pokemove_28 = poke[poke['number'] == 555] # Eliminaremos el 555.
pokemove_28

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
554,555,Darmanitan Standard Mode,Fire,Mono,480,105,140,55,30,55,95,5,notleg
555,555,Darmanitan Zen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,notleg

In [88]:
poke = poke.drop(555, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(906, 13)

In [89]:
poke.at[554, "name"] = poke.at[554, "name"].replace("Darmanitan Standard Mode", "Darmanitan")

In [90]:
pokemove_29 = poke[poke['number'] == 889] # Eliminaremos el 893.
pokemove_29

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
892,889,Zamazenta Hero of Many Battles,Fighting,Mono,670,92,130,115,80,115,138,8,leg
893,889,Zamazenta Crowned Sheild Forme,Fighting,Steel,720,92,130,145,80,145,128,8,leg

In [91]:
poke = poke.drop(893, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(905, 13)

In [92]:
poke.at[892, "name"] = poke.at[892, "name"].replace("Zamazenta Hero of Many Battles", "Zamazenta")

In [93]:
pokemove_30 = poke[poke['number'] == 890] # Eliminaremos el 894.
pokemove_30

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
893,890,Eternatus,Poison,Dragon,690,140,85,95,145,95,130,8,leg
894,890,Eternamax Eternatus,Poison,Dragon,1125,255,115,250,125,250,130,8,leg

In [94]:
poke = poke.drop(894, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(904, 13)

In [95]:
pokemove_31 = poke[poke['number'] == 888] # Eliminaremos el 891.
pokemove_31

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
890,888,Zacian Hero of Many Battles,Fairy,Mono,670,92,130,115,80,115,138,8,leg
891,888,Zacian Crowned Sword Forme,Fairy,Steel,720,92,170,115,80,115,148,8,leg

In [96]:
poke = poke.drop(891, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(903, 13)

In [97]:
poke.at[890, "name"] = poke.at[890, "name"].replace("Zacian Hero of Many Battles", "Zacian")

In [98]:
pokemove_32 = poke[poke['number'] == 877] # Eliminaremos el 879.
pokemove_32

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
878,877,Morpeko Full Belly Mode,Electric,Dark,436,58,95,58,70,58,97,8,notleg
879,877,Morpeko Hangry Mode,Electric,Dark,436,58,95,58,70,58,97,8,notleg

In [99]:
poke = poke.drop(879, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(902, 13)

In [100]:
poke.at[878, "name"] = poke.at[878, "name"].replace("Morpeko Full Belly Mode", "Morpeko")

In [101]:
pokemove_33 = poke[poke['number'] == 876] # Eliminaremos el 877.
pokemove_33

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
876,876,Indeedee Male,Psychic,Normal,475,60,65,55,105,95,95,8,notleg
877,876,Indeedee Female,Psychic,Normal,475,70,55,65,95,105,85,8,notleg

In [102]:
poke = poke.drop(877, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(901, 13)

In [103]:
poke.at[876, "name"] = poke.at[876, "name"].replace("Indeedee Male", "Indeedee")

In [104]:
pokemove_34 = poke[poke['number'] == 875] # Eliminaremos el 875.
pokemove_34

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
874,875,Eiscue Ice Face,Ice,Mono,470,75,80,110,65,90,50,8,notleg
875,875,Eiscue Noice Face,Ice,Mono,470,75,80,70,65,50,130,8,notleg

In [105]:
poke = poke.drop(875, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(900, 13)

In [106]:
poke.at[874, "name"] = poke.at[874, "name"].replace("Eiscue Ice Face", "Eiscue")

In [107]:
pokemove_35 = poke[poke['number'] == 892] # Eliminaremos el 892.
pokemove_35

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
891,892,Urshifu Single Strike Style,Fighting,Dark,550,100,130,100,63,60,97,8,leg
892,892,Urshifu Rapid Strike Style,Fighting,Water,550,100,130,100,63,60,97,8,leg

In [108]:
poke = poke.drop(892, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(899, 13)

In [109]:
poke.at[891, "name"] = poke.at[891, "name"].replace("Urshifu Single Strike Style", "Urshifu")

In [110]:
pokemove_36 = poke[poke['number'] == 893] # Eliminaremos el 893.
pokemove_36

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
892,893,Zarude,Dark,Grass,600,105,120,105,70,95,105,8,leg
893,893,Dada Zarude,Dark,Grass,600,105,120,105,70,95,105,8,leg

In [111]:
poke = poke.drop(893, axis=0)
poke = poke.reset_index(drop=True)
poke.shape

(898, 13)

In [112]:
poke # Ya tenemos nuestro set de 898 pokemones; veamos qué más podemos limpiar para dejar el dataframe impoluto.

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,notleg
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,notleg
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,notleg
3,4,Charmander,Fire,Mono,309,39,52,43,60,50,65,1,notleg
4,5,Charmeleon,Fire,Mono,405,58,64,58,80,65,80,1,notleg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,894,Regieleki,Electric,Mono,580,80,100,50,100,50,200,8,leg
894,895,Regidrago,Dragon,Mono,580,200,100,50,100,50,80,8,leg
895,896,Glastrier,Ice,Mono,580,100,145,130,65,110,30,8,leg
896,897,Spectrier,Ghost,Mono,580,100,65,60,145,80,130,8,leg
897,898,Calyrex,Psychic,Grass,500,100,80,80,80,80,80,8,leg

In [113]:
poke.number = poke.number.astype(str).str.zfill(4) # Le ponemos formato id a la columna "number"

In [114]:
poke.head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,0001,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,notleg
1,0002,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,notleg
2,0003,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,notleg
3,0004,Charmander,Fire,Mono,309,39,52,43,60,50,65,1,notleg
4,0005,Charmeleon,Fire,Mono,405,58,64,58,80,65,80,1,notleg

In [115]:
stats = poke.hp + poke.attack + poke.defense + poke.sp_attack + poke.sp_defense + poke.speed

poke['stats'] = stats # Vamos a comprobar si la columna "total" se corresponde con la suma de las stats (ataque + defensa +
# ataque especial + defensa especial + puntos de salud + velocidad).

In [116]:
poke['equals'] = poke.stats == poke.total

poke['equals'].value_counts() # Tenemos un valor False, veamos cuál es.

True     897
False      1
Name: equals, dtype: int64

In [117]:
row = poke.loc[poke['equals'] == False]
row # Es Farfetch'd; comprobando las stats en Internet, vemos que coinciden con la suma (377).

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,stats,equals
82,0083,Farfetch'd,Normal,Flying,352,52,90,55,58,62,60,1,notleg,377,False

In [118]:
# Insertamos manualmente el dato:
poke.iat[82, 4] = 377

In [119]:
poke.iloc[82:83] # Cambiado.

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,stats,equals
82,0083,Farfetch'd,Normal,Flying,377,52,90,55,58,62,60,1,notleg,377,False

In [120]:
# Vamos a limpiar los nombres de los pokemones (columna "name").

In [121]:
poke.loc[poke['name'].str.contains("Nidoran", case=False), 'name'] = 'Nidoran' # Cambiamos el nombre de los dos Nidoran.

In [122]:
poke.iloc[28:32]

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,stats,equals
28,0029,Nidoran,Poison,Mono,275,55,47,52,40,40,41,1,notleg,275,True
29,0030,Nidorina,Poison,Mono,365,70,62,67,55,55,56,1,notleg,365,True
30,0031,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,notleg,505,True
31,0032,Nidoran,Poison,Mono,273,46,57,40,40,40,50,1,notleg,273,True

In [123]:
poke.type1.unique() # No están bien los tipos 1, tenemos que arreglar ese "Graass"

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', 'Graass'], dtype=object)

In [124]:
poke.type2.unique() # Están bien los tipos 2

array(['Poison', 'Mono', 'Flying', 'Ground', 'Fairy', 'Grass', 'Fighting',
       'Psychic', 'Steel', 'Ice', 'Rock', 'Water', 'Electric', 'Fire',
       'Dragon', 'Dark', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [125]:
row_2 = poke.loc[poke['type1'] == 'Graass']

row_2

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,stats,equals
829,0830,Eldegoss,Graass,Mono,460,60,50,90,80,120,60,8,notleg,460,True

In [126]:
# Insertamos manualmente el dato:
poke.iat[829, 2] = 'Grass'

In [127]:
poke.type1.unique() # Ahora sí, tenemos bien nuestros tipos.

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [128]:
poke.generation.value_counts()

5    156
1    151
3    135
4    107
2    100
8     89
7     86
6     72
0      2
Name: generation, dtype: int64

In [129]:
row_3 = poke.loc[poke['generation'] == 0] # Es correcto el valor 0, Meltan no pertenece a ninguna generación. Su evolución,
# Melmetal, tampoco.

row_3

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,stats,equals
807,0808,Meltan,Steel,Mono,300,46,65,65,55,35,34,0,leg,300,True
808,0809,Melmetal,Steel,Mono,600,135,143,143,80,65,34,0,leg,600,True

In [130]:
# Vamos a "dropear" las columnas auxiliares que empleamos anteriormente: "stats" y "equals".

In [131]:
poke = poke.drop(["stats", "equals"], axis=1)

In [132]:
# Tras la limpieza exhaustiva, vemos que no hay ningún registro duplicado:

poke.duplicated().any()

False

Ahora, vamos a hacer web-scraping utilizando Selenium en la siguiente página: https://www.serebii.net/pokemon/all.shtml
De aquí sacaremos un dataframe con los datos de los pokemones de la última generación (IX) y este dataframe lo "incrustaremos" a continuación del primero que acabamos de configurar.

In [133]:
PATH = ChromeDriverManager().install()

In [134]:
driver=webdriver.Chrome(PATH)       # Abre una ventana de Chrome.
driver.get('https://www.serebii.net/pokemon/all.shtml') # Le indicamos la url a la que deseamos acceder para extraer la
# información

In [135]:
# Vamos a abrir el inspector para ver cómo recuperamos los nombres de columnas:
cols = driver.find_elements(By.CLASS_NAME, 'fooevo')

cols[0].text

'No.'

In [136]:
col_names = [] # Extraemos todos los nombres de columnas

for i in cols:
    col_names.append(i.text)
    
print(col_names) # De aquí nos quedamos sólo con lo que nos interesa: No, Name, HP, Att, Def, S.Att, S.Def y Spd

['No.', 'Pic', 'Name', 'Type', 'Abilities', 'Base Stats', 'HP', 'Att', 'Def', 'S.Att', 'S.Def', 'Spd']

In [137]:
No = driver.find_elements(By.CLASS_NAME, 'fooinfo')
# Vamos a sacar los números que nos interesan: desde el 899 al 1008; para ello haremos un bucle con ese start y stop y le
# indicaremos un step de 11. También prescindiremos del símbolo #.
No[11].text

'#0002'

In [138]:
numbers = []

for i in No[9878:11078:11]:
    numbers.append(i.text.replace('#', ''))

len(numbers) # Ya tenemos los números de los siguientes 110 pokemones.

110

In [139]:
print(numbers)

['0899', '0900', '0901', '0902', '0903', '0904', '0905', '0906', '0907', '0908', '0909', '0910', '0911', '0912', '0913', '0914', '0915', '0916', '0917', '0918', '0919', '0920', '0921', '0922', '0923', '0924', '0925', '0926', '0927', '0928', '0929', '0930', '0931', '0932', '0933', '0934', '0935', '0936', '0937', '0938', '0939', '0940', '0941', '0942', '0943', '0944', '0945', '0946', '0947', '0948', '0949', '0950', '0951', '0952', '0953', '0954', '0955', '0956', '0957', '0958', '0959', '0960', '0961', '0962', '0963', '0964', '0965', '0966', '0967', '0968', '0969', '0970', '0971', '0972', '0973', '0974', '0975', '0976', '0977', '0978', '0979', '0980', '0981', '0982', '0983', '0984', '0985', '0986', '0987', '0988', '0989', '0990', '0991', '0992', '0993', '0994', '0995', '0996', '0997', '0998', '0999', '1000', '1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008']

In [140]:
names = []

for i in No[9880:11080:11]:
    names.append(i.text)

len(names) # Y los nombres.

110

In [141]:
print(names)

['Wyrdeer', 'Kleavor', 'Ursaluna', 'Basculegion', 'Sneasler', 'Overqwil', 'Enamorus', 'Sprigatito', 'Floragato', 'Meowscarada', 'Fuecoco', 'Crocalor', 'Skeledirge', 'Quaxly', 'Quaxwell', 'Quaquaval', 'Lechonk', 'Oinkologne', 'Tarountula', 'Spidops', 'Nymble', 'Lokix', 'Pawmi', 'Pawmo', 'Pawmot', 'Tandemaus', 'Maushold', 'Fidough', 'Dachsbun', 'Smoliv', 'Dolliv', 'Arboliva', 'Squawkabilly', 'Nacli', 'Naclstack', 'Garganacl', 'Charcadet', 'Armarouge', 'Ceruledge', 'Tadbulb', 'Bellibolt', 'Wattrel', 'Kilowattrel', 'Maschiff', 'Mabosstiff', 'Shroodle', 'Grafaiai', 'Bramblin', 'Brambleghast', 'Toedscool', 'Toedscruel', 'Klawf', 'Capsakid', 'Scovillain', 'Rellor', 'Rabsca', 'Flittle', 'Espathra', 'Tinkatink', 'Tinkatuff', 'Tinkaton', 'Wiglett', 'Wugtrio', 'Bombirdier', 'Finizen', 'Palafin', 'Varoom', 'Revavroom', 'Cyclizar', 'Orthworm', 'Glimmet', 'Glimmora', 'Greavard', 'Houndstone', 'Flamigo', 'Cetoddle', 'Cetitan', 'Veluza', 'Dondozo', 'Tatsugiri', 'Annihilape', 'Clodsire', 'Farigiraf', 'Dudunsparce', 'Kingambit', 'Great Tusk', 'Scream Tail', 'Brute Bonnet', 'Flutter Mane', 'Slither Wing', 'Sandy Shocks', 'Iron Treads', 'Iron Bundle', 'Iron Hands', 'Iron Jugulis', 'Iron Moth', 'Iron Thorns', 'Frigibax', 'Arctibax', 'Baxcalibur', 'Gimmighoul', 'Gholdengo', 'Wo-Chien', 'Chien-Pao', 'Ting-Lu', 'Chi-Yu', 'Roaring Moon', 'Iron Valiant', 'Koraidon', 'Miraidon']

In [142]:
hp = []

for i in No[9883:11083:11]:
    hp.append(i.text)

len(hp) # Y los hp's.

110

In [143]:
print(hp)

['103', '70', '130', '120', '80', '85', '74', '40', '61', '76', '67', '81', '104', '55', '70', '85', '54', '110', '35', '60', '33', '71', '45', '60', '70', '50', '74', '37', '57', '41', '52', '78', '82', '55', '60', '100', '40', '85', '75', '61', '109', '40', '70', '60', '80', '40', '63', '40', '55', '40', '80', '70', '50', '65', '41', '75', '30', '95', '50', '65', '85', '10', '35', '70', '70', '100', '45', '80', '70', '70', '48', '83', '50', '72', '82', '108', '170', '90', '150', '68', '110', '130', '120', '125', '100', '115', '115', '111', '55', '85', '85', '90', '56', '154', '94', '80', '100', '65', '90', '115', '45', '87', '85', '80', '155', '55', '105', '74', '100', '100']

In [144]:
attack = []

for i in No[9884:11084:11]:
    attack.append(i.text)

len(attack) # Y las stats de ataque.

110

In [145]:
print(attack)

['105', '135', '140', '112', '130', '115', '115', '61', '80', '110', '45', '55', '75', '65', '85', '120', '45', '100', '41', '79', '46', '102', '50', '75', '115', '50', '75', '55', '80', '35', '53', '69', '96', '55', '60', '100', '50', '60', '125', '31', '64', '40', '70', '78', '120', '65', '95', '65', '115', '40', '70', '100', '62', '108', '50', '50', '35', '60', '45', '55', '75', '55', '100', '103', '45', '70', '70', '119', '95', '85', '35', '55', '61', '101', '115', '68', '113', '102', '100', '50', '115', '75', '90', '100', '135', '131', '65', '127', '55', '135', '81', '112', '80', '140', '80', '70', '134', '75', '95', '145', '30', '60', '85', '120', '110', '80', '139', '130', '135', '85']

In [146]:
defense = []

for i in No[9885:11085:11]:
    defense.append(i.text)

len(defense) # Y las stats de defensa.

110

In [147]:
print(defense)

['72', '95', '105', '65', '60', '95', '70', '54', '63', '70', '59', '78', '100', '45', '65', '80', '40', '75', '45', '92', '40', '78', '20', '40', '70', '45', '70', '70', '115', '45', '60', '90', '51', '75', '100', '130', '40', '100', '80', '41', '91', '35', '60', '60', '90', '35', '65', '30', '70', '35', '65', '115', '40', '65', '60', '85', '30', '60', '45', '55', '77', '25', '50', '85', '40', '72', '63', '90', '65', '145', '42', '90', '60', '100', '74', '45', '65', '73', '115', '60', '80', '60', '70', '80', '120', '131', '99', '99', '55', '79', '97', '120', '114', '108', '86', '60', '110', '45', '66', '92', '70', '95', '100', '80', '125', '80', '71', '90', '115', '100']

In [148]:
a_esp = []

for i in No[9886:11086:11]:
    a_esp.append(i.text)

len(a_esp) # Y las stats de ataque especial.

110

In [149]:
print(a_esp)

['105', '45', '45', '80', '40', '65', '135', '45', '60', '81', '63', '90', '110', '50', '65', '85', '35', '59', '29', '52', '21', '52', '40', '50', '70', '40', '65', '30', '50', '58', '78', '125', '45', '35', '35', '45', '50', '125', '60', '59', '103', '55', '105', '40', '60', '40', '80', '45', '80', '50', '80', '35', '62', '108', '31', '115', '55', '101', '35', '45', '70', '35', '50', '60', '45', '53', '30', '54', '85', '60', '105', '130', '30', '50', '75', '30', '45', '78', '65', '120', '50', '45', '110', '85', '60', '53', '65', '79', '135', '85', '121', '72', '124', '50', '122', '140', '70', '35', '45', '75', '75', '133', '95', '90', '55', '135', '55', '120', '85', '135']

In [150]:
d_esp = []

for i in No[9887:11087:11]:
    d_esp.append(i.text)

len(d_esp) # Y las stats de defensa especial.

110

In [151]:
print(d_esp)

['75', '70', '80', '75', '80', '65', '80', '45', '63', '70', '40', '58', '75', '45', '60', '75', '45', '80', '40', '86', '25', '55', '25', '40', '60', '45', '75', '55', '80', '51', '78', '109', '51', '35', '65', '90', '40', '80', '100', '35', '83', '40', '60', '51', '70', '35', '72', '35', '70', '100', '120', '55', '40', '65', '58', '100', '30', '60', '64', '82', '105', '25', '70', '85', '40', '62', '45', '67', '65', '55', '60', '81', '55', '97', '64', '40', '55', '65', '65', '95', '90', '100', '70', '75', '85', '53', '115', '99', '135', '105', '85', '70', '60', '68', '80', '110', '84', '45', '65', '86', '70', '91', '135', '65', '80', '120', '101', '60', '100', '115']

In [152]:
speed = []

for i in No[9888:11088:11]:
    speed.append(i.text)

len(speed) # Y las stats de velocidad.

110

In [153]:
print(speed)

['65', '85', '50', '78', '120', '85', '106', '65', '83', '123', '36', '49', '66', '50', '65', '85', '35', '65', '20', '35', '45', '92', '60', '85', '105', '75', '111', '65', '95', '30', '33', '39', '92', '25', '35', '35', '35', '75', '85', '45', '45', '70', '125', '51', '85', '75', '110', '60', '90', '70', '100', '75', '50', '75', '30', '45', '75', '105', '58', '78', '94', '95', '120', '82', '75', '100', '47', '90', '121', '65', '60', '86', '34', '68', '90', '43', '73', '70', '35', '82', '90', '20', '60', '55', '50', '87', '111', '55', '135', '81', '101', '106', '136', '50', '108', '110', '72', '55', '62', '87', '10', '84', '70', '135', '45', '100', '119', '116', '135', '135']

Tenemos un problema, de esta página no hemos podido scrapear los tipos de los pokemones de la IX generación (eran imágenes, no textos); para extraerlos, vamos a escrapear también esta web: https://pokemondb.net/pokedex/national#gen-9

In [154]:
driver=webdriver.Chrome(PATH)       # Abre una ventana de Chrome.
driver.get('https://pokemondb.net/pokedex/national#gen-9') # Le indicamos la url a la que deseamos acceder para extraer la
# información

In [155]:
type_1 = driver.find_elements(By.TAG_NAME, 'small')
# Vamos a sacar los tipos que nos interesan: desde el 899 al 1008; para ello haremos un bucle con ese start y stop y le
# indicaremos un step de 11.
type_1[1797].text

'Normal · Psychic'

In [156]:
types = []

for i in type_1[1797:2017:2]:
    types.append(i.text)

len(types) # Ya tenemos los tipos de los siguientes 110 pokemones.

110

In [157]:
print(types)

['Normal · Psychic', 'Bug · Rock', 'Ground · Normal', 'Water · Ghost', 'Poison · Fighting', 'Dark · Poison', 'Fairy · Flying', 'Grass', 'Grass', 'Grass · Dark', 'Fire', 'Fire', 'Fire · Ghost', 'Water', 'Water', 'Water · Fighting', 'Normal', 'Normal', 'Bug', 'Bug', 'Bug', 'Bug · Dark', 'Electric', 'Electric · Fighting', 'Electric · Fighting', 'Normal', 'Normal', 'Fairy', 'Fairy', 'Grass · Normal', 'Grass · Normal', 'Grass · Normal', 'Normal · Flying', 'Rock', 'Rock', 'Rock', 'Fire', 'Fire · Psychic', 'Fire · Ghost', 'Electric', 'Electric', 'Electric · Flying', 'Electric · Flying', 'Dark', 'Dark', 'Poison · Normal', 'Poison · Normal', 'Grass · Ghost', 'Grass · Ghost', 'Ground · Grass', 'Ground · Grass', 'Rock', 'Grass', 'Grass · Fire', 'Bug', 'Bug · Psychic', 'Psychic', 'Psychic', 'Fairy · Steel', 'Fairy · Steel', 'Fairy · Steel', 'Water', 'Water', 'Flying · Dark', 'Water', 'Water', 'Steel · Poison', 'Steel · Poison', 'Dragon · Normal', 'Steel', 'Rock · Poison', 'Rock · Poison', 'Ghost', 'Ghost', 'Flying · Fighting', 'Ice', 'Ice', 'Water · Psychic', 'Water', 'Dragon · Water', 'Fighting · Ghost', 'Poison · Ground', 'Normal · Psychic', 'Normal', 'Dark · Steel', 'Ground · Fighting', 'Fairy · Psychic', 'Grass · Dark', 'Ghost · Fairy', 'Bug · Fighting', 'Electric · Ground', 'Ground · Steel', 'Ice · Water', 'Fighting · Electric', 'Dark · Flying', 'Fire · Poison', 'Rock · Electric', 'Dragon · Ice', 'Dragon · Ice', 'Dragon · Ice', 'Ghost', 'Steel · Ghost', 'Dark · Grass', 'Dark · Ice', 'Dark · Ground', 'Dark · Fire', 'Dragon · Dark', 'Fairy · Fighting', 'Fighting · Dragon', 'Electric · Dragon']

In [158]:
types_1 = [e.split(' · ')[0] for e in types] # Separamos los tipos en dos listas
types_2 = [e.split(' · ')[1] if '·' in e else 'Mono' for e in types]

In [159]:
print(types_2)

['Psychic', 'Rock', 'Normal', 'Ghost', 'Fighting', 'Poison', 'Flying', 'Mono', 'Mono', 'Dark', 'Mono', 'Mono', 'Ghost', 'Mono', 'Mono', 'Fighting', 'Mono', 'Mono', 'Mono', 'Mono', 'Mono', 'Dark', 'Mono', 'Fighting', 'Fighting', 'Mono', 'Mono', 'Mono', 'Mono', 'Normal', 'Normal', 'Normal', 'Flying', 'Mono', 'Mono', 'Mono', 'Mono', 'Psychic', 'Ghost', 'Mono', 'Mono', 'Flying', 'Flying', 'Mono', 'Mono', 'Normal', 'Normal', 'Ghost', 'Ghost', 'Grass', 'Grass', 'Mono', 'Mono', 'Fire', 'Mono', 'Psychic', 'Mono', 'Mono', 'Steel', 'Steel', 'Steel', 'Mono', 'Mono', 'Dark', 'Mono', 'Mono', 'Poison', 'Poison', 'Normal', 'Mono', 'Poison', 'Poison', 'Mono', 'Mono', 'Fighting', 'Mono', 'Mono', 'Psychic', 'Mono', 'Water', 'Ghost', 'Ground', 'Psychic', 'Mono', 'Steel', 'Fighting', 'Psychic', 'Dark', 'Fairy', 'Fighting', 'Ground', 'Steel', 'Water', 'Electric', 'Flying', 'Poison', 'Electric', 'Ice', 'Ice', 'Ice', 'Mono', 'Ghost', 'Grass', 'Ice', 'Ground', 'Fire', 'Dark', 'Fighting', 'Dragon', 'Dragon']

Ahora, con los datos extraídos de estas dos fuentes, vamos a armar el dataframe de tal forma que nos quede la misma estructura de columnas que en la tabla madre que acondicionamos al principio.

In [160]:
poke_2 = pd.DataFrame(columns=col_names)
poke_2 # Vamos a renombrar los nombres de las columnas y a insertas los datos que hemos extraído.

Empty DataFrame
Columns: [No., Pic, Name, Type, Abilities, Base Stats, HP, Att, Def, S.Att, S.Def, Spd]
Index: []

In [161]:
poke_2.rename(columns={'No.': 'number', 'Pic': 'name', 'Name': 'type1', 'Type': 'type2', 'Abilities' : 'hp',
                       'Base Stats': 'attack', 'HP': 'defense', 'Att': 'sp_attack', 'Def': 'sp_defense', 'S.Att': 'speed',
                       'S.Def': 'generation', 'Spd': 'legendary'}, inplace=True)

In [162]:
poke_2 # la columna total la insertaremos después en su posición correspondiente, siendo la suma de las seis stats.

Empty DataFrame
Columns: [number, name, type1, type2, hp, attack, defense, sp_attack, sp_defense, speed, generation, legendary]
Index: []

In [163]:
poke_2[poke_2.columns[0]] = numbers
poke_2[poke_2.columns[1]] = names
poke_2[poke_2.columns[2]] = types_1
poke_2[poke_2.columns[3]] = types_2
poke_2[poke_2.columns[4]] = hp
poke_2[poke_2.columns[5]] = attack
poke_2[poke_2.columns[6]] = defense
poke_2[poke_2.columns[7]] = a_esp
poke_2[poke_2.columns[8]] = d_esp
poke_2[poke_2.columns[9]] = speed

In [164]:
poke_2.generation = poke_2.generation.fillna(value = 9) # Llenamos los nan de estas dos columnas con el valor más repetido
# y luego modificaremos las celdas que correspondan.

In [165]:
poke_2.legendary = poke_2.legendary.fillna(value = 'notleg')

In [166]:
poke_2.generation[0:7] = [8, 8, 8, 8, 8, 8, 8]
# Los siete primeros pokemones pertenecen a la octava generación (no es exactamente así, pero hay que cambiar estos
# registros)

In [167]:
# Ahora haremos lo propio con los legendarios:
poke_2.legendary[6] = 'leg'
poke_2.legendary[102:106] = ['leg', 'leg', 'leg', 'leg']
poke_2.legendary[108] = 'leg'
poke_2.legendary[109] = 'leg'

In [168]:
poke_2.info(memory_usage = 'deep') # Vamos a cambiar el tipo de dato de las stats para poder sumarlas y insertar la
# columna "total".

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      110 non-null    object
 1   name        110 non-null    object
 2   type1       110 non-null    object
 3   type2       110 non-null    object
 4   hp          110 non-null    object
 5   attack      110 non-null    object
 6   defense     110 non-null    object
 7   sp_attack   110 non-null    object
 8   sp_defense  110 non-null    object
 9   speed       110 non-null    object
 10  generation  110 non-null    int64
 11  legendary   110 non-null    object
dtypes: int64(1), object(11)
memory usage: 72.8 KB

In [169]:
poke_2['hp'] = poke_2['hp'].astype(int)
poke_2['attack'] = poke_2['attack'].astype(int)
poke_2['defense'] = poke_2['defense'].astype(int)
poke_2['sp_attack'] = poke_2['sp_attack'].astype(int)
poke_2['sp_defense'] = poke_2['sp_defense'].astype(int)
poke_2['speed'] = poke_2['speed'].astype(int)

In [170]:
# Calculamos la suma de las columnas hp + attack + defense + sp_attack + sp_defense + speed
total = poke_2['hp'] + poke_2['attack'] + poke_2['defense'] + poke_2['sp_attack'] + poke_2['sp_defense'] + poke_2['speed']

# Insertamos la nueva columna en la posición 4
poke_2.insert(4, 'total', total)

In [171]:
# Vamos a comparar los tipos de datos de "poke" y "poke_2" para igularlos y optimizarlos (siempre que se pueda)
poke.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      898 non-null    object
 1   name        898 non-null    object
 2   type1       898 non-null    object
 3   type2       898 non-null    object
 4   total       898 non-null    int64
 5   hp          898 non-null    int64
 6   attack      898 non-null    int64
 7   defense     898 non-null    int64
 8   sp_attack   898 non-null    int64
 9   sp_defense  898 non-null    int64
 10  speed       898 non-null    int64
 11  generation  898 non-null    int64
 12  legendary   898 non-null    object
dtypes: int64(8), object(5)
memory usage: 330.2 KB

In [172]:
poke_2.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      110 non-null    object
 1   name        110 non-null    object
 2   type1       110 non-null    object
 3   type2       110 non-null    object
 4   total       110 non-null    int32
 5   hp          110 non-null    int32
 6   attack      110 non-null    int32
 7   defense     110 non-null    int32
 8   sp_attack   110 non-null    int32
 9   sp_defense  110 non-null    int32
 10  speed       110 non-null    int32
 11  generation  110 non-null    int64
 12  legendary   110 non-null    object
dtypes: int32(7), int64(1), object(5)
memory usage: 37.7 KB

In [173]:
poke.head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,0001,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,notleg
1,0002,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,notleg
2,0003,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,notleg
3,0004,Charmander,Fire,Mono,309,39,52,43,60,50,65,1,notleg
4,0005,Charmeleon,Fire,Mono,405,58,64,58,80,65,80,1,notleg

In [174]:
# Vamos a cambiar las columnas integer tratando de hacer downcast para que disminuya el espacio que
# ocupan en memoria todo lo que se pueda.

for c in poke.select_dtypes('int64'):
    
    poke[c]=pd.to_numeric(poke[c], downcast='integer')

In [175]:
for c in poke_2.select_dtypes('int64'):
    
    poke_2[c]=pd.to_numeric(poke_2[c], downcast='integer')

In [178]:
for c in poke_2.select_dtypes('int32'):
    
    poke_2[c]=pd.to_numeric(poke_2[c], downcast='integer')

In [176]:
poke.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      898 non-null    object
 1   name        898 non-null    object
 2   type1       898 non-null    object
 3   type2       898 non-null    object
 4   total       898 non-null    int16
 5   hp          898 non-null    int16
 6   attack      898 non-null    int16
 7   defense     898 non-null    int16
 8   sp_attack   898 non-null    int16
 9   sp_defense  898 non-null    int16
 10  speed       898 non-null    int16
 11  generation  898 non-null    int8
 12  legendary   898 non-null    object
dtypes: int16(7), int8(1), object(5)
memory usage: 287.2 KB

In [179]:
poke_2.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      110 non-null    object
 1   name        110 non-null    object
 2   type1       110 non-null    object
 3   type2       110 non-null    object
 4   total       110 non-null    int16
 5   hp          110 non-null    int16
 6   attack      110 non-null    int16
 7   defense     110 non-null    int16
 8   sp_attack   110 non-null    int16
 9   sp_defense  110 non-null    int16
 10  speed       110 non-null    int16
 11  generation  110 non-null    int8
 12  legendary   110 non-null    object
dtypes: int16(7), int8(1), object(5)
memory usage: 35.4 KB

In [182]:
pokemon = pd.concat([poke, poke_2], axis=0) # Concatenamos ambos dataframes.

In [185]:
pokemon.reset_index(drop=True) # Ya tenemos nuestra tabla madre, optimizada y lista para cargar en base de datos de SQL.

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,0001,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,notleg
1,0002,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,notleg
2,0003,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,notleg
3,0004,Charmander,Fire,Mono,309,39,52,43,60,50,65,1,notleg
4,0005,Charmeleon,Fire,Mono,405,58,64,58,80,65,80,1,notleg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,1004,Chi-Yu,Dark,Fire,570,55,80,80,135,120,100,9,leg
1004,1005,Roaring Moon,Dragon,Dark,590,105,139,71,55,101,119,9,notleg
1005,1006,Iron Valiant,Fairy,Fighting,590,74,130,90,120,60,116,9,notleg
1006,1007,Koraidon,Fighting,Dragon,670,100,135,115,85,100,135,9,leg
1007,1008,Miraidon,Electric,Dragon,670,100,85,100,135,115,135,9,leg

In [186]:
pokemon.shape

(1008, 13)

In [187]:
pokemon.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1008 entries, 0 to 109
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      1008 non-null   object
 1   name        1008 non-null   object
 2   type1       1008 non-null   object
 3   type2       1008 non-null   object
 4   total       1008 non-null   int16
 5   hp          1008 non-null   int16
 6   attack      1008 non-null   int16
 7   defense     1008 non-null   int16
 8   sp_attack   1008 non-null   int16
 9   sp_defense  1008 non-null   int16
 10  speed       1008 non-null   int16
 11  generation  1008 non-null   int8
 12  legendary   1008 non-null   object
dtypes: int16(7), int8(1), object(5)
memory usage: 330.2 KB

In [208]:
pokemon.describe().T

,count,mean,std,min,25%,50%,75%,max
total,1008.0,425.943452,112.468183,180.0,320.00,443.5,505.00,720.0
hp,1008.0,69.870040,27.015387,1.0,50.00,66.0,82.00,255.0
attack,1008.0,77.529762,29.888823,5.0,55.00,75.0,100.00,181.0
defense,1008.0,71.980159,29.124422,5.0,50.00,68.5,90.00,230.0
sp_attack,1008.0,69.871032,29.664848,10.0,45.75,65.0,90.00,173.0
sp_defense,1008.0,69.814484,26.605663,20.0,50.00,65.0,85.00,230.0
speed,1008.0,66.877976,28.701733,5.0,45.00,65.0,86.25,200.0
generation,1008.0,4.655754,2.602715,0.0,2.00,5.0,7.00,9.0

In [210]:
# Cargamos archivo de contraseñas

with open('password.txt', 'r') as file:
    
    passwd = file.read().split('\n')[0]

In [211]:
str_conn = f'mysql+pymysql://root:{passwd}@localhost:3306/pokemon'
cursor = create_engine(str_conn)

pokemon.to_sql('pokemon',con=cursor, if_exists='append', index=False)

1008